
html{
	height: 100%;
}

body{
	margin:0;
	background-color: #f1f1f1;
	font-family: Roboto;
	color: #404040;
	box-sizing: border-box;
	height: 100%;
	font-size: 0.8em;
}

.content{
    display: flex; 
}

.left{
    display: inline-block;
	height: 100%;
	width: 120em;
}

.left .head{
	display: flex;
	vertical-align: bottom;
	margin-bottom: 0;
}

.btn-primary, .btn-primary:hover{
	background-color: #989ead;
	border-color: #707070;
	margin-bottom: 2px;
}

.btn-primary:disabled{
	background-color: #989ead;
	border-color: #a3a3a3;;
}

.left .top{
	display: inline-block;
    width: 100%;
	padding: 2em;
}

.left .bottom{
    width: 100%;
	padding: 2em;
	padding-top: 0em;
}

.right{
	display: block;
    height: 100%;
	width: 100%;
	margin-top: 0;
	padding : 3em;
	padding-top: 4em;
	padding-left : 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.left .card{
    padding: 0.5em;
    border: 1px solid #989ead;
	border-radius: 25px;
}

#matrix{
	display: inline-block;
}

#matrix, th, td {
    border: 1px solid #989ead;
    border-collapse: collapse;
}

#matrix td{
    height: 0.5em;
    width: 0.5em;
}

#plotCanvas{
	margin: 0.5em;
}

.cellAlive{
    background-color: black;
}

.cellDead{
    background-color: white;
}

.paramTable tr td{
	border: 0px;
	padding: 0.5em;
	vertical-align: top;
}

.menu {
	margin: auto;
	text-align: center;
	vertical-align: top;
	margin-bottom: 1em;
}

header{
	display: inline-block;
	padding-left: 5em;
	font-family: 'Yeon Sung';
	margin: 0;
	top: 0;
}

footer{
	margin:0;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	background-color: #989ead;
	padding-top: 1em;
	padding-bottom: 1em;
}

h1{
	padding:0;
	padding-top:0.5em;
	margin:0;
	color: #989ead;
	font-size: 4em;
}

h2{
	font-size: 1.5em;
	display: inline;
}

hr {
	margin-left: 1em;
	margin-right: 1em;
	height: 0.1em;
	background-color: #f9f9f9;
	color: #f9f9f9;
	border: 0 none;
}

